<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'LanguagesChat', root_path, class: 'navbar-brand mb-0 h1' %>
    </div>
    <div class="btn btn-outline-info mr-2"%>
      <%= link_to 'Login', new_user_session %>
    </div>
  </div>
</nav>